@page "/adminpage"
@*@using Microsoft.AspNetCore.Authorization*@
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin Page</PageTitle>

@*<h1>Admin Page</h1>

<p>only admin user can access this page</p>*@

<h2>Claims</h2>
<CascadingAuthenticationState>
<AuthorizeView>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>
</CascadingAuthenticationState>

@code {
}
