@page "/onosipcheck"

<PageTitle>ONOS IP Set</PageTitle>

@using SDN.Data
@inject ONOS onos;

<h1>ONOS IP&Port Check</h1>

<br />
<p>ONOS IP Address = @onos.onosipadd</p>
<p>ONOS Port = @onos.onosport</p>
<br />
<br />

@code {

}
