@page "/onosipcheck"

<PageTitle>ONOS IP Set</PageTitle>

@using SDN.Data
@inject ONOS onos;

<h1>ONOS IP Check</h1>

<p>check your target ONOS controllor ip address set at ONOSipSet page</p>

<br />
<br />
<p>onos.ipadd = @onos.ipadd</p>
<br />
<br />

@code {

}
