<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> <!--icon import-->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SDN</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sdntest">
                <span class="material-symbols-outlined" aria-hidden="true"> public </span>  Sdn Test
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authorizeviewtest">
                <span class="material-symbols-outlined" aria-hidden="true"> public </span> AuthorizeView Test
            </NavLink>
        </div>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="onosipset">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span>  ONOS IP&Port Set
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="onosipcheck">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span>  ONOS IP&Port Check
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gettest">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span> Get Test
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gethosttest">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span> Get Host Test
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="showvlan">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span> Show Vlan
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="posttest">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span> Post Test
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="postvlantest">
                        <span class="material-symbols-outlined" aria-hidden="true"> public </span> Post Vlan Test
                    </NavLink>
                </div>
            </AuthorizeView>
            @*admin access page*@
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="adminpage">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Admin Page
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="aspnetusercrud">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> AspNetUser CRUD
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
