@page "/authorizeviewtest"

<h1>ClaimsPrincipal Data</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <p>Hello, @context.User.Identity.Name!</p>
            <p>You can only see this content if you're authenticated.</p>
        </Authorized>
        <NotAuthorized>
            <p>You're not authorized.</p>
        </NotAuthorized>
    </AuthorizeView>



</CascadingAuthenticationState>


@code {
}


